.login-form{
    background-color: rgb(160, 168, 189);
    box-shadow: 10px;
    width:400px;
    height:300px;
    margin-left:425px;
    margin-top:150px;
    padding:10px;
    padding-left:40px;
    border-radius: 15px;
}

.google-login{
    margin-left:10px;
}