#assignment-list-group {
    width: 50vw;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    border-radius: 0px;
}

#assignment-list-group::-webkit-scrollbar {
    display: none;
}

#assignment-item {
    border-radius: 0px;
}

#assignment-item:hover {
    cursor: pointer;
}
