@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#navbar-brand {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pl-logo {
    height: 40px;
    margin-right: 10px;
}
